@model PostHost.Models.TagSelectModel

@Html.BeginForm(){
    @for (int i = 0; i < Model.tagcheck.Count; i++)
    {
        @Html.CheckBoxFor(m => Model.tagcheck[i].ischecked)
        @Model.tagcheck[i].addslate.TagTitle
    }
    <div>
        <input type="submit" value="Add" />
    </div>
}