@model PostHost.Models.LikeViewModels

<div class="likeselector">
    <span>
        @Model.theLikes
        @if (Model.hasLiked)
        {
            <span> Liked</span>
        }
        else
        {
            @Html.ActionLink("Like", "likeModifier", new { value = 1, toMod = Model.contentId }, new { @class = "btn btn-success likebut" })
        }
    </span>
    <span>
        @Model.theDislikes
        @if (Model.hasDisliked)
        {
            <span> Disliked</span>
        }
        else
        {
            @Html.ActionLink("Dislike", "likeModifier", new { value = -1, toMod = Model.contentId }, new { @class = "btn btn-danger dislikebut" })
        }
    </span>
</div>

<script type="text/javascript">
    
</script>