@model PostHost.Models.LikeViewModels

<div class="likeselector">
    @Html.Hidden("C_id", Model.contentId, new { @class = "hiddenId" });
    <div id="likediv">
        <h3>Likes: @Model.theLikes</h3>
        <button class="btn btn-success likebut" onclick="updatelikedis_div(1)">Like</button>
        @*@Html.ActionLink("Like", "likeModifier", new { value = 1, toMod = Model.contentId }, new { @class = "btn btn-success likebut" })*@
    </div>
    <div id="dislikediv">
        <h3>Dislikes: @Model.theDislikes</h3>
        <button class="btn btn-danger dislikebut" onclick="updatelikedis_div(-1)">Dislike</button>
        @*@Html.ActionLink("Dislike", "likeModifier", new { value = -1, toMod = Model.contentId }, new { @class = "btn btn-danger dislikebut" })*@
    </div>
</div>

<script type="text/javascript">
        function updatelikedis_div(num) {
            var conid = $(".hiddenId").val();
            $(".like_dislike_div").load('@(Url.Action("likeModifier", "Home",null, Request.Url.Scheme))?value=' + num + '&toMod=' + conid);
        }
</script>