@model IEnumerable<PostHost.Content>
@{
    ViewBag.Title = "Home Page";
}

<div id="Gallery">
    @foreach (var m in Model)
    {
        <a href="@Url.Action("ViewSingle", "Home", new { m.C_Id })">
            <img class="thumbnail galleryimage" src="@Url.Content(m.ImgURL)" />
        </a>
    }
</div>