@model IEnumerable<PostHost.Content>
@{
    ViewBag.Title = "Home Page";
}

<div id="searchingdiv">
    @using (Html.BeginForm("Index", "Home"))
    {
        @Html.TextBox("searchstring", "", new { id = "searchstring" })
        <select name="searchtype" id="searchtype">
            <option value="Title">Title</option>
            <option value="Tag">Tag</option>
        </select>
        <input type="submit" value="Search" id="searchbutton" class="btn btn-primary" />
    }
</div>
<div id="gallery">
    <select name="sorttype" onch>
        <option value="Popularity">Popularity</option>
        <option value="Preference">Preference</option>
    </select>
    @foreach (var m in Model)
    {
            <a href="@Url.Action("ViewSingle", "Home", new { m.C_Id })">
                <img class="thumbnail galleryimage" src="@Url.Content(m.ImgURL)"/>
            </a>
    }
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://digital-photography-school.com/wp-content/uploads/flickr/205125227_3f160763a0_o.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
    <img class="thumbnail galleryimage" src="http://www.ucreative.com/wp-content/uploads/2014/11/Landscape-Photography-Banner1.jpg" />
</div>