@model PostHost.Content
@{
    ViewBag.Title = "testAdding";
}

<h2>testAdding</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
</div>

<label for="file">Upload Image:</label>
<input type="file" name="file" id="file" style="width: 100%;" />

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
</div>