
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    @RenderBody()

    <footer>&copy;PostHost 2016</footer>
</body>
</html>
